<!DOCTYPE html>
<html ng-app="app">

<head>

	<title>Kandianne Pierre</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!---for favicons---->

	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!---for favicons-->
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body>

	<div>

		<md-button class="md-button md-button-ripple homeButton" ui-sref="Home"><i class="fa fa-home"></i></md-button>
		<div class="col-md-12 text-center nav">

			<!-- <md-button class="col-md-3 md-button md-button-ripple"  ui-sref="Home">
			HOME
		</md-button> -->
		<!-- <a href="#/skills"> -->
		<md-button class="col-md-4 md-button md-button-ripple" ui-sref="Skills" >
		SKILLS
	</md-button>
	<!-- </a> -->

	<md-button class="col-md-4 md-button md-button-ripple"  ui-sref="Experience" ng-class="{ active: isCurrentPath('/experience') }">
	WORK
</md-button>

<md-button class="col-md-4 md-button md-button-ripple"  ui-sref="Projects" ng-class="{ active: isCurrentPath('/projects') }">
WEB PROJECTS
</md-button>

<!-- <md-button class="col-md-3 md-button md-button-ripple"  ui-sref="Contact" ng-class="{ active: isCurrentPath('/contact') }">
CONTACT
</md-button> -->



</div>

</div>

<ui-view></ui-view>



<!-- Ext Libs -->
<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-material/angular-material.js"></script>
<!-- Global Src -->
<script src="/javascript/app.js"></script>
<script src="angular-smooth-scroll\angular-smooth-scroll.js"></script>
<!-- Factories -->
<script src="/javascript/services/HomeFactory.js"></script>
<!-- Controllers -->
<script src="/javascript/controllers/HomeController.js"></script>
<script src="/javascript/controllers/ImageSliderController.js"></script>
<script src="/javascript/controllers/ContactFormController.js"></script>
</body>

</html>
