<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/kandy.css">
	<link rel="stylesheet" type="text/css" href="/css/animateState.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body ng-cloak>

	<div class="main container-fluid" ng-controller="HomeController as vm">
		<div class="row">

			<div ng-hide="vm.typingAnimationDone" class="col-md-12">
				
				<div class="col-md-3"></div>
				<div class="col-md-6 customText">
					<p class="big-text">{{vm.type.text}}</p>
					<div id="secondMessage">
						<span class="big-text" ng-repeat="letter in vm.secondType track by $index" ng-class="{mongo: letter === 'M', express: letter === 'E', angular: letter === 'A', node: letter === 'N'}">{{letter}}</span>
					</div>
				</div>
				<div class="col-md-3"></div>

			</div>

		</div>

		<div id="navigation" ng-class="{navbaranimate: vm.done}" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">

			<div id="name">
				<span>Kandianne Pierre</span>
				<span id="occ">Web Developer</span>
			</div>

			<a class="portNames" href="mailto:kandipierre@gmail.com" title="Contact" ui-sref="Contact">
				<span style="color:#900000;" class="glyphicon glyphicon-envelope"></span>
				<span class="titles">CONTACT</span>
			</a>

			<a href="https://www.google.com/?gws_rd=ssl" title="Skills" ui-sref="Skills" class="portNames">
				<span style="color:#900000;" class="glyphicon glyphicon-signal"></span>
				<span class="titles">SKILLS</span>
			</a>

			<a class="portNames" title="Experience" ui-sref="Experience">
				<span style="color:#900000;" class="fa fa-briefcase"></span>
				<span class="titles">EXPERIENCE</span>
			</a>

			
			<a class="portNames" title="Education" ui-sref="Education"><span style="color:#900000;" class="fa fa-graduation-cap"></span><span class="titles">EDUCATION</span>
			</a>

			<a class="portNames" title="Portfolio" ui-sref="Portfolio">
				<span style="color:#900000;" class="glyphicon glyphicon-paperclip"></span>
				<span class="titles">PORTFOLIO</span>
			</a>



		</div>
	</div>
	<div ui-view></div>




	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-aria/angular-aria.js"></script>
	<script src="angular-material/angular-material.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<script src="angular-smooth-scroll\angular-smooth-scroll.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<!-- <script src="/javascript/controllers/EducationController.js"></script> -->
	<!-- <script src="/javascript/controllers/redController.js"></script> -->
</body>

</html>
