html, body, .purple-template, div[ui-view] {
  height: 100%;
  width: 100%;
  background: -webkit-radial-gradient(#500000, #400000, #200000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#500000, #400000, #200000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#500000, #400000, #200000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#500000, #400000, #200000); /* Standard syntax */
}
.main {
  width: 100%;
  display: inline-block;
  background: none;
}

@media screen and (min-width: 1000px) {
  .big-text {
    font-size: 3em;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  .big-text {
    font-size: 3em;
    color: white;
    background: transparent;

  }
}
#purple {
  background-color: purple;
  height: 100%;
  width: 100%;
}
#red {
  background-color: red;
  height: 100%;
  width: 100%;
}
#secondMessage {
  font-weight: bold;
}
.mongo {
  color: brown;
}
.express {
  color: grey;
}
.angular {
  color: red;
}
.node {
  color: green;
}

/*ANIMATIONS*/
@keyframes animate-navbar {
  from {
    right: 100%;
  }
  to{
    right: 83.3%;
  }
}
.navbaranimate {
  animation: animate-navbar .3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes state-change {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
[ui-view].ng-enter {
  position: absolute;
  /*z-index: 200;*/
  animation: state-change 1.5s ease-in;
}
[ui-view].ng-leave {
  position: absolute;
  /*z-index: -1*/
  animation: state-change 1s reverse;
}
