
md-input-container label {
  color: #d3acac;
  font-weight: normal;
}
.msgButton {
  margin-left: 41%;
  margin-right: 50%;
  color: #d3acac;
}



#navigation {
  z-index: 9999;
  font-size: 4.3em;
  /*THIS IS FOR GLYPHICON SIZES*/
  height: 100%;
  position: fixed;
  right: 100%;
  top: 0;
  /*color: #200000;*/
  padding: 0px;
  /*background-color: #200000;*/ /* #000963;*/
  /*box-shadow: inset 0 0 33px #546E7A;*/
  background: url("../images/darkRedKandi.png") no-repeat center bottom #0D0000;
  background-size: cover;
  /*box-shadow: 1px 2px 3px #333;*/
}

#navResponse {
  margin-top: -3%;
  margin-bottom: 60%;
  /*margin-bottom: -2em;*/
}
#navigation a {
  color: #d3acac;
  width: 90px;
  padding: auto -20% auto 0px;
  text-align: center;
  margin-top: 10%;
}
#navigation a:hover {
  font-weight: bold;
  text-decoration: none;
}

#name {
  text-align: center;
  color: #fff;
  font-size: 40%;
  vertical-align: bottom;
  margin-bottom: 0;
  margin-top: 2em;
  margin-left: 19%;
  margin-right: auto;
  padding-top: 60%;
  bottom: 0;
  position: absolute;
}

#name #occ {
  font-size: .7em;
}
#name span {
  display: block;
}

#empty {
  height: 40%;
}
.portNames {
  /*padding: 7% 0% 0% 0%;*/
  text-align: center;
  margin-top: 3em;
  /*margin-bottom: 30%;*/
  margin-left: 23%; 
  display: inherit;
  color: #d3acac;
  font-size: .2.6em;
}

#navigation span {
  display: block;
}

/*-----LINKS PAGE----------------*/

.links i {
  font-size: 3em;
  color: #d3acac;
  margin: auto;
}

.links i:hover {
  color: #fff;
}

/*.links div:hover {
  background-color: #200000;
  }*/

  .links div {
    padding: 9px 13px;
    /*background-color: #d3acac;*/
    display: inline;
    margin: 2em;
    box-shadow: inset 0 7px 39px #d3acac;
    border-radius: 17px;
    width: 70px;
  }

  /*---------State Styles-------------------- */
  .pageHeading {
    color: #999;
    text-align: center;
  }

  /*---------MD Styles-------------------- */
  .links {
    border-radius: 16px; 
    padding: 1em;
    /*margin-top: 19%;*/
  }

  .work {
    background-color: #200000;
    border-radius: 16px; 
    padding: 1.6em;
    box-shadow: 1px 1px 3px #333;
    margin-top: -9%;
  }

  .work h5 {
    color: #d3acac;
  }

  .work p {
    color: #999;
    font-style: italic;
  }

  .links a {
    display: inline;
    margin-left: 2.9em;
    margin-right: 2.9em;
  }

  .links a:hover {
    text-decoration: none;
  }

  .inputs {
    font-size: 1em;
    text-align: left;
    margin-top: -7%;
    margin-bottom: auto;
    background-color: #200000;
    border-radius: 16px; 
    padding: 1.6em;
    box-shadow: 1px 1px 3px #333;
  }

  .inputs p {
    color: #d3acac;
  }

  md-input-container .md-input {
    color: #999;
  }

  .md-button {
    color: #999;
  }


  /*---------MOBILE QUERIES-------------------- */

  @media only screen and (max-width: 480px) {
    .titles {
      display: none;
    }
    #navigation, .contact {
      width: 3em;
    }
    #navigation a:active {
      color: #200000;
    }
    .portNames {
      padding: 2.3em 1.3em 1.76em .2em;
    }
    .contact {
      padding: 96px 0px 30px 0px;
      height: 36%;
    }
    .contact2 {
      display: none;
    }
    #name {
      display: none;
    }
  }



