body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Pontano Sans', sans-serif;
  color: #607D8B;
}
#homepage {
  height: 90%;
  width: 100%;
  background: url("../images/comp.jpg") no-repeat center center;
  background-size: contain;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.typingText {
  width: 62%;
  height: 60%;
  font-size: 1.9vw;
  margin: auto;
  position: fixed;
  padding-top: 27vh;
  padding-left: 23vw;
  color: black;
}

.links {
  margin:auto;
  height: 600px;
  padding: 17% auto;
}

.links i {
  padding: 30% auto;
  font-size: 7vw;
}

.links div {
  margin: 3em 0;
}

.nav {
  width: 100%;
  background: #607D8B;
  color: #fff;
  padding: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.6vw;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 0 13px black;
  -moz-box-shadow: 0 0 13px black;
  box-shadow: 0 0 13px black;
  z-index: 999;
}

.nav a {
  color: white;
  text-decoration: none;
}

.experience {
  padding-top: 9%;
  padding-bottom: 30%;
}


.socialLinks div {
  transition: all 0.5s ease;
  padding: 1em;
  background: #607D8B;
  font-size: 3em;
  border-radius: 17px;
  color: white;
}

.socialLinks div:hover {
 transform: rotate(360deg);
 border-radius: 90px;
}

.work {
  padding-top: 7%;
}

.animated {
  animation-duration: 2.6s;
}

.contactKandi {
 padding-bottom: 39%;
 padding-top: 6%;
}

.contact form {
  padding-top: 10%;
}

.picture img {
  margin: auto;
  border-radius: 10%;
  box-shadow: 1px 1px 19px #333;
}

.msgButton {
  margin: auto;
}

.md-button {
  margin-left: 0;
  margin-right: 0;
}

