body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Pontano Sans', sans-serif;
  color: #200000;
}
.homeButton {
  float: right;
  font-size: 2em;
  color: #200000;
  position: fixed;
  z-index: 999999;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  height: 100%;
}

.col-md-12 {
  padding-left: auto;
  padding-right: auto;
}

#homepage {
  background: url("../images/Kandianne-pierre.png") no-repeat fixed center center white;
  background-size: cover;
  height: 100%;
}

.typingText {
  height: 460px;
  background: rgba(255, 255, 255, 0.79); 
  vertical-align: middle;
  font-size: 29px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 7.9%;
  color: #200000;
  margin-top: 9%;
  margin-bottom: 13%;
  border: solid thick #200000;
}


.links {
  margin:auto;
  height: 600px;
  padding: 17% auto;
}

.links i {
  padding: 30% auto;
  font-size: 7vw;
}

.links div {
  margin: 3em 0;
}

.nav {
  width: 100%;
  /*  background: #200000;*/
  color: #200000;
  padding: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2vw;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 0 13px black;
  -moz-box-shadow: 0 0 13px black;
  box-shadow: 0 0 13px black;
  z-index: 9999;
  background: white;
}

.nav a {
  color: #200000;
  text-decoration: none;
  z-index: 9999;
  font-weight: bold;
}

.exp {
  margin-top: auto;
  margin-bottom: auto;
}
.experience {
  padding-top: 9%;
  padding-bottom: 9%;
}


.socialLinks div {
  transition: all 0.5s ease;
  padding: 1em;
  background: #200000;
  font-size: 3em;
  border-radius: 17px;
  color: white;
  z-index: 999;
}

.socialLinks div:hover {
 transform: rotate(360deg);
 border-radius: 90px;
}

.work {
  padding-top: 23%;
  padding-bottom: 30%
}

.animated {
  animation-duration: 2.6s;
}

.contactKandi {
  padding: auto;
  height: 100%;
}

.contact form {
  margin:auto;
  width: 90%;
  background: white;
  padding: 3em;
  border: thin double #200000;
  margin-bottom: 79%;
}

.contact {
  padding-top: 9%;
  padding-bottom: 60%;
  height: 50%;
}

/*.contact form:hover {
 transform: rotate(360deg);
 border-radius: 90px;
 }*/

 label {
  font-size: 1.6em;
  font-weight: bold;

}

md-input-container .md-placeholder, md-input-container label, md-input-container .md-input{
  color: #200000;
}

/*.picture img:hover {
  transform: rotate(360deg);

  }*/

  .message {
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: -9.7%;
  }


  .md-button {
    margin-left: 0;
    margin-right: 0;
  }

  .msgButton {
    margin-top: 2.7em;
    background: white;
  }



  /*==================IMAGE SLIDER=============================*/

/*#slides {
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  height: 13em;
  position: fixed;
  top:0;
  z-index: -1;
}


.slider .col-md-12 {
  padding: 0;
}
.carousel-control .glyphicon-chevron-right, .glyphicon-chevron-left:before {
  display: none;
  }*/

  /*==================NEW EXPERIENCE=============================*/
  a:hover {
    text-decoration: none;
  }
  .exp {
    height: 100%;

  }
  
  .otherRow {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  a, a:visited {
    color: #200000;
  }

  .experienceRow {
    height: 700px;
  }
  .experienceRow .col-md-4 {
    border: thin solid #200000;
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 9%;
    padding-top: 10%;

  }
  
  .github:hover {
    background: url("http://i1.wp.com/blog.osedea.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-16-at-6.53.05-PM.png") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .linked:hover {
    background: url("../images/linked.png") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .think:hover {
    background: url("http://www.thinknowresearch.com/wp-content/uploads/2014/11/hispanic-tv-bilingual-advertising.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .kreations:hover {
    background: url("../images/kreations.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .stress:hover {
    background: url("http://www.therippleeffectlife.com/Mastering-Your-Life/wp-content/uploads/2011/09/Fotolia_18766741_Subscription_Monthly_XXL_1.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }
  
  .regi:hover {
    background: url("http://joeybatista.com/wp-content/uploads/2015/02/nyc-wallpapers-21952-22505-hd-wallpapers.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;   
  }

  .exp {
    height: 100%;
  }


  /*=================================WORK EXAMPLES=============================================*/
  .workEx {
    padding-bottom: 7%;
  }

  .workEx p {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border: thin solid #200000;
    margin-bottom: 3%;
  }

  .workEx img {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px #333;
    margin-bottom: 1em;
  }
  /*==========================================================================================*/

  .welcomeRow .col-md-4 {
    border: thin solid #200000;
  }

  .skillRow{
    padding-bottom: 13%;
  }

  #skillsQ {
   padding-bottom: 25%;
   padding-top: 9%; 
 }

 /*--------------------------SKILLS--------------------------------------------*/


 *{
  margin: 0;
  padding: 0;
}

.skills-bar-container ul {
  padding-top: 3%;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

.skills-bar-container li{
  border: solid thin #200000;
  position: relative;
  width: 100%;
  height: 1.6em;
  margin-bottom: 17px;
  list-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}




.skills-bar-container label{
  color: #000;
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.skills-bar-container .percent{
  color: #fff;
  font-size: 14px;
  float: right;
}

.progressbar{
  position:absolute;
  width:0%;
  height: 100%;
  margin-left: -50%;
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-html{
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-customer{
  -webkit-animation-name: progress-customer;
  animation-name: progress-customer;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

#progress-css{
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-javascript{
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-php{
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}

#progress-angular{
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.progressred, .progressblue, .progresspurple, .progressorange, .progressgreen{
  background-color: #200000;
  color: white;
}
/*.progressblue{ background-color: #1199ff; }
.progresspurple{ background-color: #9b59b6; }
.progressorange{ background-color: orange; }
.progressgreen{ background-color: #27ae60; }*/

@-webkit-keyframes progress-customer{0%{width: 0%;} 100%{ width: 96%;}}
@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-webkit-keyframes progress-angular{0%{width: 0%;} 100%{ width: 73%;}}

@-moz-keyframes progress-customer{0%{width: 0%;} 100%{ width: 96%;}}
@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-moz-keyframes progress-angular{0%{width: 0%;} 100%{ width: 73%;}}

@keyframes progress-customer{0%{width: 0%;} 100%{ width: 96%;}}
@keyframes progress-html{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@keyframes progress-angular{0%{width: 0%;} 100%{ width: 73%;}}



/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
/*@media only screen and (max-width : 1200px) {
  .welcomeRow div {
    padding-bottom: 39%;
    padding-top: 39%;

  }
}

@media only screen and (max-width : 979px) {
  .welcomeRow div {
    padding-bottom: 33%;
    padding-top: 33%;
  }
}

@media only screen and (max-width : 767px) {
 .welcomeRow div {
  padding-bottom: 16%;
  padding-top: 16%;
}
}

@media only screen and (max-width : 480px) {
 .welcomeRow div {
  padding-bottom: 9%;
  padding-top: 9%;
}
}

@media only screen and (max-width : 320px) {

  }*/






