body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Pontano Sans', sans-serif;
  color: #200000;
}
#homepage {
  height: 89%;
  background: url("../images/comp.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.typingText {
  width: 62%;
  height: 60%;
  font-size: 2.7vw;
  margin: auto;
  position: fixed;
  padding-top: 17vh;
  padding-left: 14vw;
  color: black;
}

.links {
  margin:auto;
  height: 600px;
  padding: 17% auto;
}

.links i {
  padding: 30% auto;
  font-size: 7vw;
}

.links div {
  margin: 3em 0;
}

.nav {
  width: 100%;
  /*  background: #200000;*/
  color: #200000;
  padding: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2vw;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 0 13px black;
  -moz-box-shadow: 0 0 13px black;
  box-shadow: 0 0 13px black;
  z-index: 9999;
  background: white;
}

.nav a {
  color: #200000;
  text-decoration: none;
  z-index: 9999;
  font-weight: bold;
}

.exp {
  margin-top: auto;
  margin-bottom: auto;
}
.experience {
  padding-top: 9%;
  padding-bottom: 9%;
}


.socialLinks div {
  transition: all 0.5s ease;
  padding: 1em;
  background: #200000;
  font-size: 3em;
  border-radius: 17px;
  color: white;
  z-index: 999;
}

.socialLinks div:hover {
 transform: rotate(360deg);
 border-radius: 90px;
}

.work {
  padding-top: 23%;
  padding-bottom: 30%
}

.animated {
  animation-duration: 2.6s;
}

.contactKandi {
  padding: auto;
  height: 100%;
}

.contact form {
  margin:auto;
  width: 70%;
  background: white;
  padding: 3em;
  height: 50%;
  border: thin double #200000;
}

.contact {
  padding-top: 9%;
  padding-bottom: 15%;
  height: 50%;
}

/*.contact form:hover {
 transform: rotate(360deg);
 border-radius: 90px;
 }*/

 label {
  font-size: 1.6em;
  font-weight: bold;

}

md-input-container .md-placeholder, md-input-container label, md-input-container .md-input{
  color: #200000;
}

/*.picture img:hover {
  transform: rotate(360deg);

  }*/

  .message {
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: -19%;
  }


  .md-button {
    margin-left: 0;
    margin-right: 0;
  }

  .msgButton {
    margin-top: 2.7em;
    background: white;
  }



  /*==================IMAGE SLIDER=============================*/

/*#slides {
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  height: 13em;
  position: fixed;
  top:0;
  z-index: -1;
}


.slider .col-md-12 {
  padding: 0;
}
.carousel-control .glyphicon-chevron-right, .glyphicon-chevron-left:before {
  display: none;
  }*/

  /*==================NEW EXPERIENCE=============================*/
  a:hover {
    text-decoration: none;
  }

  
  .otherRow {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  a, a:visited {
    color: #200000;
  }

  .experienceRow {
    height: 50%;
  }
  .experienceRow .col-md-4 {
    border: thin solid #200000;
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 13%;
    padding-top: 10%;
  }
  
  .github:hover {
    background: url("http://i1.wp.com/blog.osedea.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-16-at-6.53.05-PM.png") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .linked:hover {
    background: url("../images/linked.png") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .think:hover {
    background: url("http://www.thinknowresearch.com/wp-content/uploads/2014/11/hispanic-tv-bilingual-advertising.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .kreations:hover {
    background: url("../images/kreations.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }

  .stress:hover {
    background: url("http://www.therippleeffectlife.com/Mastering-Your-Life/wp-content/uploads/2011/09/Fotolia_18766741_Subscription_Monthly_XXL_1.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;  
  }
  
  .regi:hover {
    background: url("http://joeybatista.com/wp-content/uploads/2015/02/nyc-wallpapers-21952-22505-hd-wallpapers.jpg") center no-repeat;
    height: 50%;
    color: white;
    text-shadow: 1px 2px 3px #000;
    font-size: 3.7em;
    transition: background-position 6s;   
  }

  .exp {
    height: 100%;
  }
