<div class="container-fluid animated slideInLeft contactKandi" data-ng-controller="ContactFormController as cf">

  <div class="row">

    <div class="col-md-4 text-center picture">
      <img src="../images/kandianne.jpg">
    </div>

    <div class="col-md-8 contact">


      <form name="contactForm" data-ng-submit="cf.sendMail()">
        <md-input-container flex>
        <label>How can I help you?...</label>
        <textarea data-ng-model="cf.contactMessage" required></textarea>
      </md-input-container>

      <md-input-container flex>
      <label>Your name...</label>
      <input data-ng-model="cf.contactName" required>
    </md-input-container>

    <md-input-container flex>
    <label>Your email...</label>
    <input data-ng-model="cf.contactEmail" required>
  </md-input-container>

  <md-button class="md-button-ripple msgButton" type="submit">Send Message</md-button>

</form>

<br>
<p class="text-center">kandipierre@gmail.com</p>
</div>


</div>

</div>
