<div class="container-fluid exp">
  <div class="row experienceRow">
    <div class="col-md-12 text-center otherRow">
      <a  href="https://github.com/Kandianne" target="_blank">
        <div class="col-md-4 github  animated pulse infinite">
          <i class="fa fa-github animated pulse infinite"></i>
          GitHub
        </div>
      </a>
      <a  href="https://www.linkedin.com/in/kandianne" target="_blank">
        <div class="col-md-4 linked animated pulse infinite">
          <i class="fa fa-linkedin animated pulse infinite"></i>
          LinkedIn
        </div>
      </a>
      <a  href="http://www.thinknowresearch.com/" target="_blank">
        <div class="col-md-4 animated pulse infinite think">
          <i class="fa fa-area-chart animated pulse infinite"></i>
          ThinkNow
        </div>
      </a>
      <a ui-sref="RegiKnow">
        <div class="col-md-4 animated pulse infinite regi">
          <i class="fa fa-desktop   animated pulse infinite"></i>
          RegiKnow
        </div>
      </a>
      <a href="https://istressless.herokuapp.com/#/" target="_blank">
        <div class="col-md-4 animated pulse infinite stress">
          <i class="fa fa-hand-peace-o   animated pulse infinite"></i>
          iStressLess
        </div>
      </a>
      <a href="http://kandianne.com/" target="_blank">
        <div class="col-md-4 animated pulse infinite kreations">
          <i class="fa fa-lightbulb-o   animated pulse infinite"></i>
          Kreations
        </div>
      </a>
    </div>
  </div>
</div>


