<div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">

        <div class="col-md-offset-5 col-lg-offset-5 col-sm-offset-5 col-xs-offset-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 nopadding text-center work">

          <div>
            <h5 ng-click="detailsOne = !detailsOne;" class="md-button md-button-ripple">MEAN Stack Developer (Current)</h5>
            <p ng-show="detailsOne" class="animated fadeInDown">Currently utilizing MongoDB, Express.js, Angular.js, JavaScript and Node to build modern web applications. As well as gaining experience with web development frameworks, libraries, and tools including Ionic, Sass, Angular material design, Ionic Material design, Heroku, and Cloudinary.</p>
          </div>

          <div>
            <h5 ng-click="detailsTwo = !detailsTwo;" class="md-button md-button-ripple">Marketing Materializer</h5>
            <p ng-show="detailsTwo" class="animated fadeInDown">Freelancing to create custom marketing materials including infographics, web designs, flyers, social-media posts, and more.</p>
          </div>

          <div>
            <h5 ng-click="detailsThree = !detailsThree;" class="md-button md-button-ripple">Marketing Manager</h5>
            <p ng-show="detailsThree" class="animated fadeInDown">Increased sales opportunities through producing company branded marketing materials, made with HTML, CSS, Salesforce, iContact, data.com, Adobe Creative Suite, Powerpoint. Analyzed areas of sales improvement and implemented CRM with constant email campaigns.</p>
          </div>

          <div>
            <h5 ng-click="detailsFour = !detailsFour;" class="md-button md-button-ripple">Business Development Manager</h5>
            <p ng-show="detailsFour" class="animated fadeInDown">Provided Hispanic and multicultural sample for market research studies, including the hard to reach Spanishdominant / Unacculturated demographics.</p>
          </div>

          <div>
            <h5 ng-click="detailsFive = !detailsFive;" class="md-button md-button-ripple">Business English Teacher</h5>
            <p ng-show="detailsFive" class="animated fadeInDown">Prepared students for business English exams, by encouraging discussion and presenting classes based on students' interests and learning goals.</p>
          </div>

          <div>
            <h5 ng-click="detailsSix = !detailsSix;" class="md-button md-button-ripple">Personal Banker</h5>
            <p ng-show="detailsSix" class="animated fadeInDown">Consulted with individuals to asses financial needs and provide them with the most suitable products and services.</p>
          </div>

          <div>
            <h5 ng-click="detailsSeven = !detailsSeven;" class="md-button md-button-ripple">Marketing Manager</h5>
            <p ng-show="detailsSeven" class="animated fadeInDown">Promoted company and monitored client satisfaction through meetings, follow-up calls, and e-mails.</p>
          </div>

          <div>
            <h5 ng-click="detailsEight = !detailsEight;" class="md-button md-button-ripple">English Tutor</h5>
            <p ng-show="detailsEight" class="animated fadeInDown">Tutored students from ages 8-30 in Math and English.</p>
          </div>

          <div>
            <h5 ng-click="detailsNine = !detailsNine;" class="md-button md-button-ripple">Billing Manager</h5>
            <p ng-show="detailsNine" class="animated fadeInDown">Prepared payment applications, invoices, and budgets for construction management projects.</p>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>