<div class="container-fluid">
  <div class="row">

      <div class="col-md-2 col-md-offset-3">THIS IS 1
          <i class="fa fa-github"></i>
      </div>

      <div class="col-md-2 col-md-offset-6">
          This is 2
          <i class="fa fa-linkedin"></i>
      </div>


  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
      <i class="fa fa-desktop"></i>
  </div>

  <div class="col-md-2">
      <i class="fa fa-hand-peace-o"></i>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-2">
  </div>

</div>
</div>