<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-69139821-1', 'auto');
	ga('send', 'pageview');

</script>



<div ng-controller="HomeController as vm" class="container-fluid" id="homepage">

<!-- <md-grid-list id="intro" md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:2" md-row-height="1:2" md-gutter="12px" md-gutter-gt-md="8px" md-gutter-gt-sm="7px">
		<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
			<a href="https://www.linkedin.com/in/kandianne" target="_blank">
				<i class="fa fa-linkedin animated pulse infinite"></i>
			</a>	
		</md-grid-tile>

	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		<a href="https://github.com/Kandianne" target="_blank">
	  			<i class="fa fa-github animated pulse infinite"></i>
	  		</a>
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		<a ui-sref="Contact">
	  			<i class="fa fa-envelope animated pulse infinite"></i>
	  		</a>	
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		<a ui-sref="Projects">
	  			<i class="fa fa-cog animated pulse infinite"></i>
	  		</a>
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		<a href="https://twitter.com/KandiPierre" target="_blank">
	  			<i class="fa fa-twitter animated pulse infinite"></i>
	  		</a>
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="1" md-colspan="1" class="primaryTile">
	  		<a ng-href="http://codepen.io/Kandianne/" target="_blank">
	  			<i class="fa fa-codepen animated pulse infinite"></i>
	  		</a>
	  	</md-grid-tile>
	  	<md-grid-tile md-rowspan="4" md-colspan="3" class="primaryTile"  id="summary">
	  		<p ui-sref="Contact">
	  			I enjoy contributing to and kreating projects that solve problems. I am a courageous, marketing-minded, adventurous web developer. Click here to send me a message and keep in touch.
	  		</p>
	  	</md-grid-tile>
</md-grid-list> -->

<ul id="intro">
		<li class="primaryTile">
			<a href="https://www.linkedin.com/in/kandianne" target="_blank">
				<i class="fa fa-linkedin animated pulse infinite"></i>
			</a>	
		</li>

	  	<li class="primaryTile">
	  		<a href="https://github.com/Kandianne" target="_blank">
	  			<i class="fa fa-github animated pulse infinite"></i>
	  		</a>
	  	</li>
	  	<li class="primaryTile">
	  		<a ui-sref="Contact">
	  			<i class="fa fa-envelope animated pulse infinite"></i>
	  		</a>	
	  	</li>
	  	<li class="primaryTile">
	  		<a ui-sref="Projects">
	  			<i class="fa fa-cog animated pulse infinite"></i>
	  		</a>
	  	</li>
	  	<li class="primaryTile">
	  		<a href="https://twitter.com/KandiPierre" target="_blank">
	  			<i class="fa fa-twitter animated pulse infinite"></i>
	  		</a>
	  	</li>
	  	<li class="primaryTile">
	  		<a ng-href="http://codepen.io/Kandianne/" target="_blank">
	  			<i class="fa fa-codepen animated pulse infinite"></i>
	  		</a>
	  	</li>
	  	<li class="primaryTile" id="summary">
	  		<p ui-sref="Contact">
	  			I'm Kandianne Pierre. A courageous, adventurous, curious, and open-minded positivist, creator, and web developer. Click here to get in touch.
	  		</p>
	  	</li>
</ul>


	
<!-- 	<div class="main">
		<div class="row col-xs-12 col-sm-12 col-md-12">
			<div id="aboutMe" class="col-md-4 col-md-offset-8 col-sm-12">
				I'm Kandianne Margaret Pierre.
				<br>
				A dog-loving, creativity driven, bold, marketing-minded, and adventurous full-stack web developer. I enjoy contributing to kreative projects that solve problems and some of my own, using my marketing and web development skills. Feel free to explore my site and send me a message to keep in touch. 
				<br><br>
				
				<a class="col-xs-1 col-sm-1 col-md-1" href="https://www.linkedin.com/in/kandianne" target="_blank">
					<i class="fa fa-linkedin animated pulse infinite"></i>
				</a>
				<a class="col-xs-1 col-sm-1 col-md-1"  href="https://github.com/Kandianne" target="_blank">
					<i class="fa fa-github animated pulse infinite"></i>
				</a>
				<a class="col-xs-1 col-sm-1 col-md-1" ui-sref="Resume">
					<i class="fa fa-file-text"></i>
				</a>
				<a class="col-xs-1 col-sm-1 col-md-1" ui-sref="Contact">
					<i class="fa fa-envelope"></i>
				</a>
				<a class="col-xs-1 col-sm-1 col-md-1" href="https://twitter.com/KandiPierre" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<br>
			</div>
		</div>
	</div> -->

</div>


<!-- =====================FOR ANIMATED TEXT========================================= -->
	<!-- <div class="row">
		<div class="col-xs-1 col-sm-2 col-md-3"></div>
		<div class="col-xs-10 col-sm-8 col-md-6 typingText">
			<p class="big-text">{{vm.type.text}}</p>
			<div id="secondMessage">
				<span class="big-text" ng-repeat="letter in vm.secondType track by $index" ng-class="{mongo: letter === 'M', express: letter === 'E', angular: letter === 'md-button', node: letter === 'N'}">{{letter}}</span>
			</div>
		</div>
		<div class="col-xs-1 col-sm-2 col-md-3"></div>

	</div> -->
	



