
<div>
  <div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding phoneLinks">

          <div class="col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding text-center links">


              <div class="col-sm-2  animated swing infinite" href="https://www.linkedin.com/in/kandianne" target="_blank">
                <i class="fa fa-linkedin"></i>
            </div>


            <div class="col-sm-2  animated wobble infinite" href="https://github.com/Kandianne" target="_blank">
                <i class="fa fa-github"></i>
            </div>


            <div class="col-sm-2  animated swing infinite" href="http://regiknow.herokuapp.com/#/" target="_blank">
                <i class="fa fa-desktop"></i>
            </div>

            <div class="col-sm-2  animated wobble infinite" href="https://istressless.herokuapp.com/#/" target="_blank">
                <i class="fa fa-hand-peace-o"></i>
            </div>

            <div class="col-sm-2  animated swing infinite" href="http://kandianne.com/" target="_blank">
                <i class="fa fa-lightbulb-o kandianne"></i>
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div id="phoneNav" ng-class="{navbaranimate: vm.done}" class="animated FadeIn">
        <br><br>
        <div id="navResponse">

            <md-button class="portNames md-button md-button-ripple" title="Links" ui-sref="Links">
            <!-- <span style="color:#999;" class="glyphicon glyphicon-envelope"></span> -->
            <span class="titles">LINKS</span>
        </md-button>

        <md-button class="portNames md-button md-button-ripple" title="Contact" ui-sref="Experience">
        <!-- <span style="color:#999;" class="glyphicon glyphicon-envelope"></span> -->
        <span class="titles">WORK</span>
    </md-button>

    <md-button class="portNames md-button md-button-ripple" title="Contact" ui-sref="Contact">
    <span class="titles">CONTACT</span>
</md-button>

<div id="name">
    <span>Kandianne Pierre</span>
    <span id="occ">Web Developer</span>
</div>

</div>

</div>
</div>
</div>
</div>