<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-69139821-1', 'auto');
	ga('send', 'pageview');

</script>

<div class="container-fluid">
	<div class="row">
		<h1 class="text-center">
			Projects I contributed to, built from scratch, built just for fun, and am currently working.
		</h1>
		<br>
		<div class="col-md-12 workEx">
			<p id="ionic">
				<a href="https://github.com/RegionKnow/ionic-version" target="_blank">
					<img class="animated fadeIn" src="./images/ionicApp.png">
				</a>
				<br>
				<br>
				<strong>
					REGIKNOW
				</strong> is a question based social application, allowing users to ask and answer questions, as well as acknowledge the value of users' responses. This is the mobile application version, which is still a work in progress.
				<br><br>
				My role for this mobile version of RegiKnow is <i>Front-End and UI Lead</i>. I focused on building this mobile application using the Ionic framework along with Ionic Material.
				<br>
				<br>
				<strong>Being built with Ionic using the following:</strong>
				<br> 
				HTML5, CSS3, JavaScript, AngularJS, Cordova, and Sass.
			</p>
			<p id="regiKnow">
				<a href="http://regiknow.herokuapp.com/#/" target="_blank">
					<img class="animated fadeIn" src="./images/regiknowex.png">
				</a>
				<br>
				<br>
				<strong>
					REGIKNOW
				</strong> is a question based social application, allowing users to ask and answer questions, as well as acknowledge the value of users' responses.
				<br><br>
				My role for this project was <i>Front-End Lead</i> while working with a group of 3 other developers to build this application within a period of 3 weeks along with a mobile version. Although I focused on the front-end functionality, UI, and design, I also assisted with back-end components like connecting our photo upload API and implementing AJAX calls to get/connect data from database.
				<br>
				<br>
				<strong>Built with the MEAN stack using the following:</strong>
				<br> 
				HTML5, CSS3, JavaScript, AngularJS, Angular Material, Node.js, Nodemailer, Express.js, MongoDB, Mongoose, Google APIs, Cloudinary, and Passport.js.
			</p>
			<p id="cfrEx">
				<a href="https://collegefundingremedies.herokuapp.com/#/" target="_blank">
					<img class="animated fadeIn" src="./images/collegeFundingRedesign.png">
				</a>
				<br>
				<br>
				<strong>
					COLLEGE FUNDING REMEDIES
				</strong>is a company that helps parents and students with developing a financial strategy on paying for college.
				<br><br>
				I built the current website, which you can see by clicking
				<strong><a href="http://collegefundingremedies.com/">
					here,
				</a></strong>
				and am currently working on re-creating it, to provide a more modern design and funcitioning with AngularJS and Material design. 
				<br>
				<br>
				<strong>Being built with the MEAN stack using the following:</strong>
				<br> 
				HTML5, CSS3, JavaScript, AngularJS, Bootstrap, Node.js, and Express.js.
			</p>
			<p id="istressLessEx">
				<a href="https://istressless.herokuapp.com/#/" target="_blank">
					<img class="animated fadeIn" src="./images/istresslessEx.png">
				</a>
				<br>
				<br>
				<strong>
					ISTRESSLESS
				</strong> is a simple application, allowing users to login and post/edit/delete discussions about stress issues they are facing and how to relieve stress.
				<br><br>
				I built this project within 3 days from scratch, as a class project. I wanted to focus on keeping a clean, simplistic style that allowed the user to interact with features effortlessly.
				<br>
				<br>
				<strong>Built with the MEAN stack using the following:</strong>
				<br> 
				HTML5, CSS3, JavaScript, AngularJS, Bootstrap, Node.js, Express.js, MongoDB, Mongoose, Google APIs, Cloudinary, and Passport.js.
			</p>
			<p id="thinkNowEx">
				<a href="http://www.thinknowresearch.com/" target="_blank">
					<img class="animated fadeIn" src="./images/thinknowex.png">
				</a>
				<br>
				<br>
				<strong>
					THINKNOW RESEARCH
				</strong> is a full service Hispanic Market Research company.
				<br><br>
				My role at ThinkNow was <i>Marketing Manager</i>. Here I maintained the company's WordPress website by posting blogs, customizing HTML/CSS, maintaining online WooCommerce Market, updating/adding pages, plugins, and website marketing content.
				<br>
				<br>
				<strong>Built with WordPress using the following:</strong>
				<br> 
				HTML5, CSS3, JavaScript, and PHP.
			</p>
		</div>
	</div>
</div>